atomicwrites==1.2.1
attrs==18.2.0
Click==7.0
colorama==0.4.1
et-xmlfile==1.0.1
Flask==1.0.2
flask-mongoengine==0.9.5
Flask-Script==2.0.6
Flask-WTF==0.14.2
itsdangerous==1.1.0
jdcal==1.4
Jinja2==2.10
MarkupSafe==1.1.0
mongoengine==0.16.2
more-itertools==4.3.0
numpy==1.15.4
openpyxl==2.5.12
pandas==0.23.4
pathlib2==2.3.3
pluggy==0.8.0
py==1.10.0
pymongo==3.7.2
pytest==4.0.1
python-dateutil==2.7.5
pytz==2018.7
six==1.11.0
Werkzeug==0.14.1
WTForms==2.2.1
